<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yelinaung.karrency.app">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/Theme.Karrency">
    <activity
        android:name="com.yelinaung.karrency.app.ui.HomeActivity"
        android:configChanges="keyboardHidden|orientation"
        android:label="@string/app_name"
        android:windowSoftInputMode="adjustPan">

      <intent-filter>

        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="10c6fe8841e559534f187322cd8818266f15dc32"/>

    <activity android:name=".ui.widget.ConfigureCurrency"
        android:label="CurrencyConfig">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      </intent-filter>
    </activity>

    <receiver android:name=".ui.widget.ExchangeRateWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/exchange_rate_widget_info"/>
    </receiver>
  </application>

</manifest>
